In [1]:
x = input("x=")
y = input("y=")
z = input("z=")
print(x,y,z)

x=25
y=54
z=ccd
25 54 ccd

In [2]:
x,y,z = input("x,y,z=").split()
print("x=",x)
print("y=",y)
print("z=",z)

x,y,z=taha yqbi alahdeh
x= taha
y= yqbi
z= alahdeh

## range

In [5]:
for i in range(2,100,4):
    
    print(i)

2
6
10
14
18
22
26
30
34
38
42
46
50
54
58
62
66
70
74
78
82
86
90
94
98

In [12]:
x = float(input("x="))
for i in range(10):
    s=i*x
    print(i,"*",x,"=",s)

x=2
0 * 2.0 = 0.0
1 * 2.0 = 2.0
2 * 2.0 = 4.0
3 * 2.0 = 6.0
4 * 2.0 = 8.0
5 * 2.0 = 10.0
6 * 2.0 = 12.0
7 * 2.0 = 14.0
8 * 2.0 = 16.0
9 * 2.0 = 18.0

In [18]:
a = int(input("a="))

b = int(input("b="))
s = 0
for i in range(a,b+1):
    s = s+i
print("all=",s)

a=2
b=100
all= 5049

In [26]:
a = int(input("a="))

b = int(input("b="))
s = 0
for i in range(a,b+1):
    if i % 2 == 0:
        
        print(i)
        s = s + 1
print("___________________________________________")

print("s=",s)

a=5
b=9
6
8
___________________________________________
s= 2

In [32]:
a = int(input("a="))

b = int(input("b="))
s = 0
n = 0
for i in range(a,b+1):
    s = s + i
    n =n + 1
mean = s/n
print("mean=",mean)

a=10
b=100
mean= 55.0

In [39]:
x = [2,0.5,-3,0.75,9]
s = 0
n = 0
for i in x:
    s = s + i
    n = n + 1
    mean = s/n
    print("mean=",mean)

mean= 2.0
mean= 1.25
mean= -0.16666666666666666
mean= 0.0625
mean= 1.85

In [41]:
n = int(input("n="))

s = 0
for i in range (n):
    x = float(input("x="))
    s = s + x
mean = s/n
print("mean",mean)

n=3
x=12.5
x=3.5
x=4.5
mean 6.833333333333333

In [7]:
x = [2,0.5,-3,0.75,9]
s = 0

for i in x:
    
    s = s + i
   
    print("s=",s)

s= 2
s= 2.5
s= -0.5
s= 0.25
s= 9.25

In [8]:
x = [2,0.5,-3,0.75,9]
s = 0
n = 0
for i in x:
    
    s = s + i
    n = n + 1
mean = s/n
print("mean=",mean)

mean= 1.85

In [11]:
n = int(input("n="))
s = 0
for i in range (n):
    x = float(input("x="))
    s = s + x
mean = s/n
print("mean",mean)

n=8
x=3
x=6
x=5
x=8
x=8
x=5
x=2
x=5
mean 5.25

In [13]:
n = int(input("n="))
 
s = 0 
sv = 0
for i in range(n):
    v = float(input("v="))
    m = float(input("x="))
    x = m * v
    s = s + x
    sv = sv + v 
    mean = s / sv
    print("mean",mean)

n=3
v=1
x=18.5
mean 18.5
v=2
x=19.25
mean 19.0
v=3
x=20
mean 19.5

## tsk

In [16]:
from math import sqrt
n = float(input("n="))
s = ((1**2) + (2**2) + (3**2)) = 14
ss = sqrt(s)

SyntaxError: cannot assign to operator (882470008.py, line 3)